#login {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;        
    margin: 70px auto;
    padding-top: 20px;      
    background-color: orange;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5;
}



input[type="email"],
input[type="password"] {
    padding: 10px; 
    margin: 10px 0; 
}


.loginbutton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 50%;
    margin-top: 1rem;
}

.loginbutton:hover {
    background-color: #0056b3;
}
