* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    margin: 10px;
    background-color: beige;
}

.Header {
    display: block;
    background-color: orange;
    padding: 10px;
    margin: 10px;

}

.login {
    display: flexbox;
    width: 300px;        
    margin-top: 400px;
    margin: 0 auto;      
    padding: 40px;
    background-color: orange;
    text-align: center;
    line-break:auto;

}

form {

}